@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

:root {
    --bg-primary: #151718;
    --bg-secondary: #282b2e;
    --bg-tertiary: #2e3031;
    --fg-primary: #FFFFFF;
    --fg-secondary: #ADB5BD;
    --fg-tertiary: #868E96;
    --status: #1864AB;
    --on-time: #1864AB;
    --early: #2B8A3E;
    /*--late: #C92A2A;*/
    --late: #a832cc;
    --complete: #212529;
}

* {
    box-sizing: border-box;
    pointer-events: auto;
}

header {
    padding: 18px;
    background: var(--bg-secondary);
    display: flex;
    position: sticky;
    flex-direction: column;
}

header > div {
    align-items: center;
    display: flex;
    flex-direction: row;
}

header > div > h2:last-child {
    text-align: right;
}

header > div > h1 {
    font-size: 1.25rem;
    align-self: center;
}

header > div > h2 {
    font-size: 1rem;
    align-self: flex-end;
    text-align: left;
    flex: 1;
    padding-bottom: 2px;
}

.stationsHolder {
	overflow-y: auto;
	padding: 12px;
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 12px;
}

.trainsHolder {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
	gap: 12px;
}

@media only screen and (max-width: 400px) {
    .stationsHolder {
        display: flex;
        flex-direction: column;
    }
}

.leaflet-container {
    height: 100%;
}

body, #__next{
	font-family: 'Inter', sans-serif;
	background-color: var(--bg-primary);
	color: var(--fg-primary);
	margin: 0;
	height: 100vh;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.card {
    background-color: var(--bg-secondary);
    border-style: none;
    border-width: 1px;
    border-color: var(--fg-secondary);
    border-radius: 12px;
    display: flex;
    width: auto;
    margin: 0px;
    padding: 8px 14px;
}

.trainCard {
    margin: 12px;
}

.trainBoxLink {
    text-decoration: none;
}

.clickableThing {
    cursor: pointer;
}

.clickablething .trainCard:hover {
    background-color: var(--bg-tertiary);
}

.add {
    display: inline;
    text-align: center;
    width: auto;
}

.title {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.tag {
    color: var(--fg-secondary);
}

.status {
    background: var(--on-time);
    height: 22px;
    border-radius: 16px;
    padding: 4px 8px;
    font-size: 0.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-top: 2px;
    margin-bottom: 2px;
}

.icon {
    margin: 4px;
    align-self: start;
}

.logo {
    width: 48px;
    height: 48px;
}

.borger {
    width: 48px;
    height: 48px;
}

.exit {
    cursor: pointer;
}

.searchAlign {
    width: 92%;
    max-height: 75%;
    max-width: 600px;
    display: flex;
    align-items: left;
    margin: 12px;
}

.searchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--bg-primary);
    width: 100%;
    max-width: 400px;
    height: auto;
    border-radius: 46px;
}

.trainListHolder {
    display: flex;
    align-items: center;
    background-color: var(--bg-primary);
    width: 100%;
    max-width: 400px;
    height: 75%;
    border-radius: 46px;
    overflow: auto;
}

nav {
    flex: 1;
}

.dropDown {
    border-radius: 46px;
}

.searchBar input {
    flex: 69; /* what do you mean this is hacky? */
    background-color: var(--bg-primary);
    color: var(--fg-primary);
    font-size: 16px;
    height: 52px;
    border: none;
    margin: 0px 4px;
}

.searchBar input:focus-visible {
    outline: none;
}

.screen {
    z-index: 15;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    pointer-events: none; 
}

.map {
    z-index: -100;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.screen {
    
}

::selection {
    background: #666;
}

h1 {
    font-size: 24px;
    margin: 2px;
    margin-bottom: 5px;
    margin-left: 0px;
}

h2 {
    font-size: 1.5em;
    margin: 4px 0px;
}

h3 {
    margin: 4px 0px;
    font-size: 1rem;
}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    line-height: 1.5;
}

a {
    color: #fff;
    transition-duration: 0.4s;
}

a:hover {
    color: #ddd;
}

.route, .location {
    color: var(--fg-secondary);
}

.tag {
    color: var(--fg-tertiary);
}

footer {
    display: flex;
    flex-direction: column;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 10px;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
}

footer > * {
    margin-top: 10px;
    margin-bottom: 0px;
}

li a {
    text-decoration: none;
    color: #2d2f31;
}

ul {
    padding-left: 0px;
}

.collapsible {
    background-color: var(--bg-primary);
    color: #fff;
    cursor: pointer;
    border-radius: 32px;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
}

.active, .collapsible:hover {
    background-color: var(--bg-secondary);
}

.content {
    width: 100%;
    max-width: 400px;
    border-radius: 32px;
    overflow: auto;
    transition: max-height 0.2s ease-out;
    background-color: var(--bg-primary);
}

details[open] {
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
}

.content summary {
    padding: 16px;
    border-radius: 32px;
}

.newTrain {
    text-align: center;
}